<div class="qa-di-wizard-wrapper">
  <div class="title">
    PYETSORI - FORMULARI I DEKLARIMIT VJETOR DHE PAGESËS PËR TATIMIN NË TË
    ARDHURAT PERSONALE PËR INDIVID
  </div>

  <div class="status">
    <button class="btn btn-primary">
      {{$ctrl.index+1}} / {{$ctrl.list.length}}
    </button>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title flexed-center">
        <span class="label label-default m-r-10"
          >{{$ctrl.model.serial_no}}</span
        >
        <span ng-class="{'make-normal-weight':$ctrl.model.sub_question}"
          >{{$ctrl.model.title}}</span
        >
      </h3>
      <div class="sub-question make-bold" ng-if="$ctrl.model.sub_question">
        <span class="label label-primary m-r-10"
          >{{$ctrl.model.sub_serial_no}}</span
        ><span>{{$ctrl.model.sub_question}}</span>
      </div>
    </div>
    <div class="panel-body">{{$ctrl.model.description}}</div>
    <div class="confirm-choices">
      <button
        type="button"
        ng-class="{'btn-success':$ctrl.model.yes == true, 'btn-default':$ctrl.model.yes == false }"
        class="btn btn-default"
        ng-click="$ctrl.clickedYes()"
      >
        PO
      </button>
      <button
        type="button"
        ng-class="{'btn-danger':$ctrl.model.no == true, 'btn-default':$ctrl.model.no == false }"
        class="btn btn-default"
        ng-click="$ctrl.clickedNo()"
      >
        JO
      </button>
    </div>

    <!-- if there is a sub-question in the model we display two input boxes -->

    <div ng-if="$ctrl.model.sub_question" class="answer-value">
      <div>
        <div class="yes-label">Nëse PO:</div>
        <div>
          <div class="flexed-center flexed-space-between">
            <span>[a]-Vendos vlerën e shitjes së pasurisë në kutinë:</span>
            <input
              ng-model="$ctrl.model.a_val"
              ng-disabled="$ctrl.model.no || $ctrl.model.yes == undefined"
              type="text"
              class="form-control"
              style="width: 30%"
              data-toggle="tooltip"
              data-placement="right"
              title="Sqarim ne anen e djatht"
            />
          </div>
          <div class="flexed-center flexed-space-between m-t-5">
            <span>[b]-Vendos vlerën e kostos së pasurisë në kutinë: </span>
            <input
              ng-model="$ctrl.model.b_val"
              ng-disabled="$ctrl.model.no || $ctrl.model.yes == undefined"
              type="text"
              class="form-control"
              style="width: 30%"
            />
          </div>
        </div>
      </div>
      <div class="no-answer m-t-10">Nëse JO – kalo në pyetjen e radhës.</div>
    </div>

    <!-- else it is a normal input -->

    <div ng-if="!$ctrl.model.sub_question" class="answer-value">
      <div class="yes-answer">
        <span class="yes-label"
          >Nëse PO – Vendos vlerën e të ardhurave në kutinë:</span
        >
        <input
          ng-model="$ctrl.model.value"
          ng-disabled="$ctrl.model.no || $ctrl.model.yes == undefined"
          type="text"
          class="form-control"
          style="width: 30%"
        />
      </div>
      <div class="no-answer">Nëse JO – kalo në pyetjen e radhës.</div>
    </div>
    <div class="qa-panel-actions">
      <button
        class="btn btn-primary"
        ng-disabled="$ctrl.index<=0"
        ng-click="$ctrl.previous()"
      >
        Kthehu
      </button>
      <button
        class="btn btn-primary"
        ng-disabled="$ctrl.list.length-1==$ctrl.index"
        ng-click="$ctrl.next()"
      >
        Vazhdo
      </button>
    </div>
  </div>
</div>

<style>
  @media (min-width: 1024px) {
    .qa-di-wizard-wrapper {
      width: 50%;
      border: 1px solid #ccc;
      padding: 20px;
    }
  }
  @media (max-width: 500px) {
    .qa-di-wizard-wrapper {
      width: 100%;
      border: 1px solid #ccc;
      padding: 20px;
    }
  }

  .title {
    display: flex;
  }
  .status {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .qa-panel-actions {
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  .answer-value {
    padding: 10px;
  }
  .yes-answer {
    display: flex;
    align-items: center;
  }
  .yes-label {
    width: 60%;
  }
  .confirm-choices {
    padding: 10px 0 10px 40px;
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  .flexed-center {
    display: flex;
    align-items: center;
  }
  .flexed-space-between {
    justify-content: space-between;
  }
  .panel-body {
    height: 150px;
    overflow: auto;
    text-align: justify;
    margin-bottom: 20px;
    font-style: italic;
  }
  .m-r-10 {
    margin-right: 10px;
  }
  .m-t-5 {
    margin-top: 5px;
  }
  .m-t-10 {
    margin-top: 10px;
  }
  .sub-question {
    /*font-style: italic;*/
    margin-top: 5px;
  }
  .make-bold {
    font-weight: bold;
  }
  .make-normal-weight {
    font-weight: normal;
  }
</style>
